[core]
	excludesfile = /Users/k-yorozu/.gitignore_global
    editor = vi
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Kentaro Yorozu
	email = k-yorozu@tribeat.com
[commit]
	template = /Users/k-yorozu/.stCommitMsg
[alias]
    st = status
    co = checkout
    br = branch
    ba = branch -a
    ft = fetch
    df = diff
    rb = rebase
    cm = commit
    tr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
